.button {
    font-family: $ff-notosans;
    padding: 12px;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    background-color: #142933;
    color: #ffffff;
    transition: all 0.5s ease-in;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;

    cursor: pointer;

    &:hover {
        background-color: #8a9499;
        color: #142933;
        transition: all 0.5s ease-in;
    }

    span {
        display: none;
    }

    @media (min-width: $desktop) {
        font-size: 16px;
        padding: 18px;
        min-height: 55px;

        span {
            display: inline-block;
        }
    }
}