.price {
    @include border-radius;
    background: #ececec;
    padding: 12px 35px 13px 12px;
    position: relative;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 8px;
    }

    &__old {
        line-height: 75%;
    }

    &__new {
        font-size: 28px;
        font-weight: 700;
        line-height: 51%;

        small {
            font-size: 14px;
            display: inline-block;
            transform: translate(-7px, -10px);
        }
    }

    @media (min-width: $desktop) {
        padding: 16px 55px 17px 16px;

        &__old {
            font-size: 16px;
        }

        &__new {
            font-size: 36px;

            small {
                font-size: 18px;
            }
        }
    }
}