@font-face {
    font-family: "Noto Sans";
    src:
        url("../../fonts/notosans-medium.woff2") format("woff2"),
        url("../../fonts/notosans-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    src:
        url("../../fonts/notosans-mediumitalic.woff2") format("woff2"),
        url("../../fonts/notosans-mediumitalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    src:
        url("../../fonts/notosans-bold.woff2") format("woff2"),
        url("../../fonts/notosans-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

